<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica</title>
</head>
<body>
    <title>Practica de Django</title>
    <h1>Bienvenido a la Practica de Django</h1>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas consectetur eaque facere sit necessitatibus quasi, sequi, vel velit ullam quis eum cum placeat ipsam. Cupiditate non ab dolorem amet possimus?</div>
</body>
</html>